#main
	padding 100px 0
	background-color: #211F1B
	background-image url(../img/backgrounds/main_bg.png)
	background-repeat no-repeat
	background-position: center top -80px
	background-size: cover
.pre
	display: inline-block
	font-size: 30px
	background-color: myDarkGreen
	color #fff
	padding 0 10px
.main-title
	font-size: 60px;
	font-family: RO
	color: myGreen
	line-height: 0.8;
	text-shadow: 0px 0px 9.4px rgba(24, 41, 70, 0.004);
	margin 47px 0 30px
	letter-spacing: 2px
.main-subtitle
	margin-bottom: 40px
	font-size: 30px
	color #F8F8F8
	font-family: RO
	width 100%
	max-width 500px
.main-info
	@extend .pre
	span
		display: inline-block
		color: myGreen
		font-family: RO
	&:last-of-type
		margin-top: 30px
.button-main
	margin 40px 0 0