#plan
	padding 50px 0
	background-color: myDarkGreen
.structure-container
	width 100%
	max-width 860px
	margin 0 auto 40px
.strucrure-parts
.lesson-days
	width 100%
	text-align: center
	li
		display: inline-block
		margin 0 5px 10px
		width 110px
		line-height: 45px
		font-size: 18px
		background-color #efefef
		transition: all .3s ease
		font-family: RO
		cursor pointer
		&:hover
		&.active
		&.active2
			background-color: #a8cf48
			transform: translateY(-3px)
.lesson-days
	li
		width 80px
		line-height: 40px
		font-size: 16px
.structure-item
	padding 20px
	background-color: #fbf1f9
.structure-item
.lesson
	&-title
		font-family: RO
		text-align: center
		font-size:  22px
	&-subtitle
		text-align: center
		font-size: 18px
		font-family: RO
		margin: 5px 0 15px
	&-list
		li
			margin-left: 20px
			list-style: none
			line-height: 1.5
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0