#main
	padding 20px 0 60px
	background-color: #FBFAF8
	background-image url(../img/backgrounds/get_bg.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
	text-align: center
.pre
	font-size: 20px
.main-title
	font-size: 42px
	font-family: RO
	color: myGreen
	line-height: 0.8;
	text-shadow: 0px 0px 9.4px rgba(24, 41, 70, 0.004);
	margin 10px 0 30px
	letter-spacing: 2px
.main-info
	font-size: 22px
	background-color: myDarkGreen
	color #fff
	padding 0 10px
	display: inline-block
	span
		display: inline-block
		color: myGreen
		font-family: RO
.video-wrapper-main
	margin 20px auto 0
	max-width 560px
#main.remind
	min-height calc(100vh - 148px)
.remind-main-title
	margin 90px 0 20px
	font-size: 30px
	line-height: 1.4
	a
		display: inline-block
		color: myDarkGreen
		text-decoration: underline
		&:focus
			text-decoration: none
		&:hover
			text-decoration: none
.remind-main-subtitle
	font-size: 26px