footer
	padding 20px 0
	font-size: 16px
	font-family: "Arial", sans-serif
	text-align: center
	h5
		font-family: RO
		font-size: 20px
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			background-color: myGreen
			width: 32px;
			height: 32px;
			color #ffffff
			line-height 32px
			border-radius: 5px
			border: 1px dotted myDarkGreen
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)