section#main
	.container
		p.pre Бонус от Анны Скуцкой
		h1.main-title= head_title
		p.main-info Старт интенсива: 
			span с 19 сентября, в 19:00 (МСК)
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=1&mute=1" allowfullscreen)