{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes",
          "_maket",
          "_css",
          "_js",
          ".gitignore",
          "README.md"
        ],
        "exceptions": [
          "js/_js/scripts.js",
          "js/_js/scripts-2.js",
          "js/_js/course.js",
          "js/_js/thanks.js"
        ]
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          "/html",
          "/_maket",
          "/_css",
          "/_js",
          ".gitignore",
          "README.md",
          "_css",
          "_js",
          "_maket",
          "READMA.md",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/skutskaya.mastervision.su/herbology",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579176688216.8513,
          "ctimeMs": 1579176688216.8513,
          "date": "2020-01-16T12:11:47.127Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-16T10:00:21.038Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-16T10:00:21.465Z"
        },
        {
          "file": "fonts/Akrobat.eot",
          "mtimeMs": 1567562686000,
          "ctimeMs": 1567580758269.7805,
          "date": "2020-01-16T10:00:27.775Z"
        },
        {
          "file": "fonts/Akrobat.svg",
          "mtimeMs": 1567562686000,
          "ctimeMs": 1567580758178.411,
          "date": "2020-01-16T10:00:28.417Z"
        },
        {
          "file": "fonts/Akrobat.ttf",
          "mtimeMs": 1567562686000,
          "ctimeMs": 1567580758166.405,
          "date": "2020-01-16T10:00:29.029Z"
        },
        {
          "file": "fonts/Akrobat.woff",
          "mtimeMs": 1567562686000,
          "ctimeMs": 1567580758251.7734,
          "date": "2020-01-16T10:00:29.529Z"
        },
        {
          "file": "fonts/Akrobat.woff2",
          "mtimeMs": 1567562686000,
          "ctimeMs": 1567580758285.7957,
          "date": "2020-01-16T10:00:29.987Z"
        },
        {
          "file": "fonts/RussoOne.eot",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772552.5771,
          "date": "2020-01-16T10:00:30.609Z"
        },
        {
          "file": "fonts/RussoOne.svg",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772527.5603,
          "date": "2020-01-16T10:00:31.262Z"
        },
        {
          "file": "fonts/RussoOne.ttf",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772514.5527,
          "date": "2020-01-16T10:00:31.897Z"
        },
        {
          "file": "fonts/RussoOne.woff",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772542.5703,
          "date": "2020-01-16T10:00:32.399Z"
        },
        {
          "file": "fonts/RussoOne.woff2",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772561.583,
          "date": "2020-01-16T10:00:32.893Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1573194060458.8992,
          "ctimeMs": 1579164750799.8955,
          "date": "2020-01-16T10:00:37.115Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1579176290617.8372,
          "ctimeMs": 1579176290617.8372,
          "date": "2020-01-16T12:11:44.833Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579167503338.2368,
          "ctimeMs": 1579167503338.2368,
          "date": "2020-01-16T10:00:49.566Z"
        },
        {
          "file": "img/backgrounds/get_bg.png",
          "mtimeMs": 1567594683518.8818,
          "ctimeMs": 1567594683518.8818,
          "date": "2020-01-16T10:00:37.729Z"
        },
        {
          "file": "img/backgrounds/last_bg.png",
          "mtimeMs": 1567603413750.5146,
          "ctimeMs": 1567603413750.5146,
          "date": "2020-01-16T10:00:38.307Z"
        },
        {
          "file": "img/backgrounds/main_bg.png",
          "mtimeMs": 1567593740940.8242,
          "ctimeMs": 1567593740940.8242,
          "date": "2020-01-16T10:00:39.008Z"
        },
        {
          "file": "img/backgrounds/take_part_bg.png",
          "mtimeMs": 1567594669315.8867,
          "ctimeMs": 1567594669315.8867,
          "date": "2020-01-16T10:00:39.645Z"
        },
        {
          "file": "img/icons/email.png",
          "mtimeMs": 1567585899653.1677,
          "ctimeMs": 1567585899653.1677,
          "date": "2020-01-16T10:00:40.090Z"
        },
        {
          "file": "img/icons/grass.png",
          "mtimeMs": 1567585903875.9678,
          "ctimeMs": 1567585903875.9678,
          "date": "2020-01-16T10:00:40.551Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1567585908023.942,
          "ctimeMs": 1567585908182.1475,
          "date": "2020-01-16T10:00:41.000Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1567585913008.836,
          "ctimeMs": 1567585913008.836,
          "date": "2020-01-16T10:00:41.440Z"
        },
        {
          "file": "img/images/anna.png",
          "mtimeMs": 1567594809011.282,
          "ctimeMs": 1567594809162.381,
          "date": "2020-01-16T10:00:41.990Z"
        },
        {
          "file": "img/images/get_img.png",
          "mtimeMs": 1567594819098.5088,
          "ctimeMs": 1567594819109.516,
          "date": "2020-01-16T10:00:42.927Z"
        },
        {
          "file": "img/images/for_item_bg.png",
          "mtimeMs": 1567594813752.2063,
          "ctimeMs": 1567599808549.045,
          "date": "2020-01-16T10:00:42.452Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1579177849244.135,
          "ctimeMs": 1579177849244.135,
          "date": "2020-01-16T12:31:19.991Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1579177425224.3608,
          "ctimeMs": 1579177425224.3608,
          "date": "2020-01-16T12:29:03.478Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1579178142736.475,
          "ctimeMs": 1579178142736.475,
          "date": "2020-01-16T12:35:56.366Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1579177857805.6426,
          "ctimeMs": 1579177857805.6426,
          "date": "2020-01-16T12:31:21.175Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1579177864804.7625,
          "ctimeMs": 1579177864804.7625,
          "date": "2020-01-16T12:31:21.570Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1579177871221.2803,
          "ctimeMs": 1579177871221.2803,
          "date": "2020-01-16T12:31:22.046Z"
        },
        {
          "file": "js/scripts-2.min.js",
          "mtimeMs": 1579167506876.5889,
          "ctimeMs": 1579167506876.5889,
          "date": "2020-01-16T10:00:49.032Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1579178473183.4736,
          "ctimeMs": 1579178473183.4736,
          "date": "2020-01-16T12:44:09.974Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1579178636477.577,
          "ctimeMs": 1579178636477.577,
          "date": "2020-01-16T12:44:10.378Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1579178273562.9646,
          "ctimeMs": 1579178273562.9646,
          "date": "2020-01-16T12:40:43.722Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1579178642599.025,
          "ctimeMs": 1579178642599.025,
          "date": "2020-01-16T12:44:10.821Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1565863818091.5166,
          "ctimeMs": 1565863818091.5166,
          "date": "2020-01-16T10:00:36.096Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1565863818114.5283,
          "ctimeMs": 1565863818114.5283,
          "date": "2020-01-16T10:00:36.699Z"
        },
        {
          "file": "1/index.html",
          "mtimeMs": 1567664050371.9155,
          "ctimeMs": 1567664050371.9155,
          "date": "2020-01-16T10:00:22.512Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1567680988666.6267,
          "ctimeMs": 1567680988666.6267,
          "date": "2020-01-16T10:00:33.523Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1579176855370.9739,
          "ctimeMs": 1579176855370.9739,
          "date": "2020-01-16T12:14:17.784Z"
        },
        {
          "file": "css/ie-bonus.min.css",
          "mtimeMs": 1579164203418.6194,
          "ctimeMs": 1579164203418.6194,
          "date": "2020-01-16T10:00:25.336Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1579167053945.1846,
          "ctimeMs": 1579167053945.1846,
          "date": "2020-01-16T10:00:23.463Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1579176223678.5203,
          "ctimeMs": 1579176223678.5203,
          "date": "2020-01-16T12:11:46.639Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1567848600617.213,
          "ctimeMs": 1567848600617.213,
          "date": "2020-01-16T10:00:48.490Z"
        },
        {
          "file": "css/course-ie.min.css",
          "mtimeMs": 1579164205618.9863,
          "ctimeMs": 1579164205618.9863,
          "date": "2020-01-16T10:00:24.405Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1566508160000,
          "ctimeMs": 1567965198047.0164,
          "date": "2020-01-16T10:00:35.576Z"
        },
        {
          "file": "distributive/index.php",
          "mtimeMs": 1567972331520.8938,
          "ctimeMs": 1567972331520.8938,
          "date": "2020-01-16T10:00:27.212Z"
        },
        {
          "file": "img/revs/rev_1.jpg",
          "mtimeMs": 1556191252891.846,
          "ctimeMs": 1567407421508.5156,
          "date": "2020-01-16T10:00:43.423Z"
        },
        {
          "file": "img/revs/rev_2.jpg",
          "mtimeMs": 1567407532104.783,
          "ctimeMs": 1567407532133.802,
          "date": "2020-01-16T10:00:43.904Z"
        },
        {
          "file": "img/revs/rev_3.jpg",
          "mtimeMs": 1567407536987.898,
          "ctimeMs": 1567407537004.907,
          "date": "2020-01-16T10:00:44.391Z"
        },
        {
          "file": "img/revs/rev_4.jpg",
          "mtimeMs": 1567407541765.8916,
          "ctimeMs": 1567407541822.928,
          "date": "2020-01-16T10:00:44.886Z"
        },
        {
          "file": "img/revs/rev_5.jpg",
          "mtimeMs": 1567407546737.6353,
          "ctimeMs": 1567407546737.6353,
          "date": "2020-01-16T10:00:45.402Z"
        },
        {
          "file": "img/revs/rev_6.jpg",
          "mtimeMs": 1556191258151.2217,
          "ctimeMs": 1567407381770.3335,
          "date": "2020-01-16T10:00:45.910Z"
        },
        {
          "file": "img/revs/rev_7.jpg",
          "mtimeMs": 1556191263075.5527,
          "ctimeMs": 1567407384311.978,
          "date": "2020-01-16T10:00:46.420Z"
        },
        {
          "file": "img/revs/rev_8.jpg",
          "mtimeMs": 1556191267698.1423,
          "ctimeMs": 1567407386756.772,
          "date": "2020-01-16T10:00:46.887Z"
        },
        {
          "file": "img/revs/video_1.jpg",
          "mtimeMs": 1556281205826.4492,
          "ctimeMs": 1556281205826.4492,
          "date": "2020-01-16T10:00:47.434Z"
        },
        {
          "file": "img/revs/video_2.jpg",
          "mtimeMs": 1556281211559.7014,
          "ctimeMs": 1556281211559.7014,
          "date": "2020-01-16T10:00:47.959Z"
        },
        {
          "file": "bots/index.html",
          "mtimeMs": 1579178640116.6602,
          "ctimeMs": 1579178640116.6602,
          "date": "2020-01-16T12:44:09.400Z"
        },
        {
          "file": "img/icons/ok.png",
          "mtimeMs": 1575136380486.6216,
          "ctimeMs": 1575136380486.6216,
          "date": "2020-01-16T12:11:48.023Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1575136388342.6985,
          "date": "2020-01-16T12:11:48.416Z"
        },
        {
          "file": "img/icons/vk.png",
          "mtimeMs": 1575136393724.0266,
          "ctimeMs": 1575136393724.0266,
          "date": "2020-01-16T12:11:48.792Z"
        },
        {
          "file": "css/thanks-ie.min.css",
          "mtimeMs": 1579178749884.486,
          "ctimeMs": 1579178749884.486,
          "date": "2020-01-16T12:45:54.643Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 50 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "bonus.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "bonus/index.html"
        }
      },
      {
        "file": "bots.pug",
        "config": {
          "customOutput": "bots\\index.html"
        }
      },
      {
        "file": "course.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "course/index.html"
        }
      },
      {
        "file": "home-task-1.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-1/index.html"
        }
      },
      {
        "file": "home-task-2.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-2/index.html"
        }
      },
      {
        "file": "home-task-3.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-3/index.html"
        }
      },
      {
        "file": "js/_js/course.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/course.min.js"
        }
      },
      {
        "file": "js/_js/scripts-2.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts-2.min.js"
        }
      },
      {
        "file": "js/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts.min.js"
        }
      },
      {
        "file": "js/_js/thanks.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/thanks.min.js"
        }
      },
      {
        "file": "promo.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "promo/index.html"
        }
      },
      {
        "file": "remind.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "remind/index.html"
        }
      },
      {
        "file": "styl/styles.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false
        }
      },
      {
        "file": "styl/thanks-ie.min.styl",
        "config": {
          "customOutput": "css\\thanks-ie.min.css"
        }
      },
      {
        "file": "thanks.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "thanks/index.html"
        }
      }
    ]
  }
}
