section#main
	.container
		p.pre Авторский мастер-класс
		h1.main-title Травоведение
		h2.main-subtitle Узнай секреты наших предков. Научись применять Травы
		p.main-info Автор: 
			span Анна Скуцкая
		br
		p.main-info Даты проведения: 
			span 19 и 20 сентября