mixin for(cl,p)
	.for-item(class= cl)
		p.for-item-text= p

section#for
	.container
		h3.general-title.general-title-light
			span.span-main
			| Этот мастер-класс 
			span.span-green необходим 
			| тем, кто:
		.row
			.col-md-4.col-sm-4
				+for('for-item-1','Работает на нелюбимой работе за маленькую зарплату, так как хотят заниматься любимым делом и иметь больше денег')
				+for('for-item-2','Пенсионерам, которые имеют маленькую пенсию, так как желают иметь дополнительный источник доходов и улучшить свое физическое состояние')
				+for('for-item-3','Склонен впадать в депрессивные состояния и сложно из них выходит, а хочется иметь постоянное состояние радости и ощущение счастья')
			.col-md-4.col-sm-4
				+for('for-item-4','Не встретил до сих пор любимого человека, а мечтает построить крепкую любящую семью')
				+for('for-item-5','Не имеет удовлетворения своим финансовым и социальным положением, но стремится иметь авторитет в обществе и зарабатывать от 1000 долларов в месяц')
				+for('for-item-6','Имеет проблемные и сложные семейные отношения, но желает прекратить скандалы в семье и создать атмосферу гармонии в доме')
			.col-md-4.col-sm-4
				+for('for-item-7','Имеет лишний вес, но есть устойчивое желание нормализовать и сбросить лишние килограммы в теле')
				+for('for-item-8','Склонен к частому плохому самочувствию: простуды, ломота и слабость в теле, а уже хочется иметь бодрость в теле и хорошее физическое состояние')
		+bb('','Записаться')