section#get
	.container
		h3.general-title
			span.span-main
			| Что получит каждый, кто посетит онлайн-мастер-класс:
		.row
			.col-md-4.col-sm-4
				p.get-text Научитесь находить выход из сложных  ситуаций
				p.get-text Получите инструмент с помощью которого улучшите свое финансовое состояние
				p.get-text Получите ресурсы и рекомендации для улучшения здоровья
			.col-md-4.col-sm-4.col-xs-0
				#get-img
			.col-md-4.col-sm-4
				p.get-text Научитесь выстраивать отношения, основанные на гармонии и радости
				p.get-text Сможете очистить свой дом и пространство от негативной энергетики
				p.get-text Получите инструменты защиты своей энергетики и пространства в котором находитесь
		+bb('button-get','Записаться')