section#author
	.container
		h3.general-title.general-title-light
			span.span-main 
			| О тренере
		.row
			.col-md-4.col-sm-4.col-anna
				#anna
			.col-md-7.col-sm-7.col-md-offset-0.col-sm-offset-1
				h4.author-title Анна Скуцкая
				+list('author-list','- Практикующий  рунолог','- Консультирую бизнесменов и стартапы','- 8 лет наблюдаю трансформации в жизни учеников и клиентов','- 5 лет обучаю людей самостоятельно помогать себе')
		h3.general-title.general-title-light.general-title-revs Отзывы учеников
		.row
			.col-md-6.col-sm-6
				#text-revs.carousel.slide(data-ride="carousel" data-interval="false")
					.carousel-inner(role="listbox")
						.item.text-rev-item.active
							a( href="img/revs/rev_1.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_1.jpg" alt="Отзыв 1")
						.item.text-rev-item
							a( href="img/revs/rev_2.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_2.jpg" alt="Отзыв 2")
						.item.text-rev-item
							a( href="img/revs/rev_3.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_3.jpg" alt="Отзыв 3")
						.item.text-rev-item
							a( href="img/revs/rev_4.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_4.jpg" alt="Отзыв 4")
						.item.text-rev-item
							a( href="img/revs/rev_5.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_5.jpg" alt="Отзыв 5")
						.item.text-rev-item
							a( href="img/revs/rev_6.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_6.jpg" alt="Отзыв 6")
						.item.text-rev-item
							a( href="img/revs/rev_7.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_7.jpg" alt="Отзыв 7")
						.item.text-rev-item
							a( href="img/revs/rev_8.jpg" data-fancybox="revs")
								img.revs-img( src="img/revs/rev_8.jpg" alt="Отзыв 8")
					ol.carousel-indicators.revs_indicators
						li.active( data-target="#text_revs" data-slide-to="0")
						li( data-target="#text_revs" data-slide-to="1")
						li( data-target="#text_revs" data-slide-to="2")
						li( data-target="#text_revs" data-slide-to="3")
						li( data-target="#text_revs" data-slide-to="4")
						li( data-target="#text_revs" data-slide-to="5")
						li( data-target="#text_revs" data-slide-to="6")
						li( data-target="#text_revs" data-slide-to="7")
					.controls.text-controls
						a( class="left carousel-control" href="#text-revs" role="button" data-slide="prev") <
						a( class="right carousel-control" href="#text-revs" role="button" data-slide="next") >
					.clearfix
			.col-md-6.col-sm-6
				#video-revs.carousel.slide(data-ride="carousel" data-interval="false")
					.carousel-inner(role="listbox")
						.item.active
							.video-wrapper.video-wrapper-revs(data-youtube="an6Ji2-2Mz8" data-img="img/revs/video_1.jpg")
								img.video-rev-img(src="img/revs/video_1.jpg", alt="Видео отзыв")
						.item
							.video-wrapper.video-wrapper-revs(data-youtube="J3QN0oOXlck" data-img="img/revs/video_2.jpg")
								img.video-rev-img(src="img/revs/video_2.jpg", alt="Видео отзыв")
					ol.carousel-indicators.revs_indicators
						li.active( data-target="#text_revs" data-slide-to="0")
						li( data-target="#video_revs" data-slide-to="1")
					.controls.text-controls
						a( class="left carousel-control" href="#video-revs" role="button" data-slide="prev") <
						a( class="right carousel-control" href="#video-revs" role="button" data-slide="next") >