@media screen and (min-width 2295px)
	.container
		width 1400px
	#main
		padding 300px 0
	.main-title
		font-size: 80px
	.main-subtitle
		font-size: 40px
		max-width 680px
		margin-top: 20px
	.variant
		max-width 610px
	.get-text
		max-width 320px
	#anna
		left 50px
	#text-revs .carousel-inner .revs-img
		height 377px
@media screen and (max-width 1199px)
	#main
		background-position: center top
	#text-revs .carousel-inner .revs-img
		height 256px
@media screen and (max-width 991px)
	header
	footer
		padding 15px 0
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		float: none
		text-align: center
	.contact
		display: inline-block
		margin 5px 5px 0
		line-height: 17px
	#main
		padding 50px 0
	#anna
		top 0
	.last-container
		padding 40px
	.input-mail-last
		float: none
		margin 0 auto 10px
		display block
	.button-form-last
		float: none
	.form-take-part
		margin-top: 0
	.variant
		margin-bottom: 25px
	#take-part
		padding 50px 0 25px
	#text-revs .carousel-inner .revs-img
		height 194px
@media screen and (max-width 767px)
	#main
		background-position: left top
		text-align: center
	.main-title
		font-size: 50px
	.main-subtitle
		margin 0 auto 40px
	.video-wrapper-take-part
		margin-bottom: 40px
	.for-item
		max-width 100%
		margin-bottom: 30px
	.get-text
		max-width 100%
		margin-bottom: 30px
	.get-text:last-of-type
	.last-container-title
		margin-bottom: 30px
	#get-img
		display none
	#anna
		position static
		width: 320px
		height 320px
		margin:0 auto 25px
	.author-title
		text-align: center
		margin-left: 0
	.author-list
		margin-left: 0
	.form-take-part
		margin-bottom: 40px
	#text-revs .carousel-inner .revs-img
		width 100%
	#text-revs
		margin-bottom: 50px
	.general-title-revs
		margin-top: 40px
@media screen and (max-width 485px)
	#logo
		width 60px
		height 27px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		padding-left: 26px
	#main
	#for
	#get
	#author
	#last
		padding 40px 0
	#take-part
		padding 40px 0 15px
	.main-info, .pre
		font-size: 20px
	.main-title
		font-size: 40px
		margin-top: 20px
	.main-subtitle
		font-size: 22px
		margin-bottom: 25px
		line-height: 1.3
	.main-info:last-of-type
		margin-top: 15px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.general-title .span-main::before
		width: 42px;
		height: 42px;
		top: -31px;
		left: -23px;
	.variants-title
		font-size: 22px
		max-width 300px
		margin-bottom: 25px
	.variant
		padding 20px
	.variant-subtitle
		margin 15px 0 10px
	.variant-list li
		font-size: 20px
		padding-left: 30px
		margin-bottom: 10px
	.variant-text
		margin-bottom: 20px
	.input
	.get-text
	.get-text:last-of-type
	.author-list li
		margin-bottom: 15px
	.politics_modal-content .modal-title
		font-size: 19px
	.video-wrapper-take-part
		margin-bottom: 30px
	.button-vip
		margin-top: 20px
	.last-subtitle
		margin 20px 0
	.last-container
	.last-container-title
		padding 20px
	.last-container-title
		font-size: 24px
	footer
		font-size: 12px
	.modal-text
		font-size: 22px
	.checking-last .check-label
		line-height: 19px
	#text-revs .carousel-inner .revs-img
		height 100px
@media screen and (max-width 385px)
	#main
	#for
	#get
	#author
	#last
		padding 30px 0
	#take-part
		padding 30px 0 5px
	body
	.pre
	.main-info
	.variant-list li
	.button
	.modal-text
		font-size: 18px
	header
	footer
		padding 10px 0
	.main-title
		font-size: 30px
	.main-subtitle
		font-size: 20px
		margin-bottom: 15px
	.variants-title
		padding 6px 10px
	.variant
	.last-container, .last-container-title
		padding 15px
	.variant-title
		font-size: 22px
	.variant-subtitle
		font-size: 18px
		margin 10px 0 5px
	.video-wrapper
		margin 20px auto
	.for-item
		padding-left: 0
		text-align: center
	.for-item::before
		position: static
		margin 0 auto 10px
	#anna
		width 220px
		height 220px
	.author-title
		margin-bottom: 20px
	.last-container-title
		font-size: 20px
		margin-bottom: 20px
	.switch-title
		font-size: 20px
	#text-revs .carousel-inner .revs-img
		height 80px
	#text-revs
		margin-bottom: 30px