#for
	padding 50px 0
	background-color: myDarkGreen
.for-item
	width 100%
	max-width 335px
	margin 0 auto 50px
	padding-left: 62px
	position relative
	&:before
		position: absolute
		display: block
		width: 54px
		height 54px
		background-image url(../img/images/for_item_bg.png)
		background-repeat no-repeat
		background-position: center
		top 0
		left 0
		text-align: center
		font-size: 24px;
		font-family: RO
		color: rgb(239, 239, 239);
		line-height: 54px
		text-shadow: 0px 2px 2.49px rgba(58, 37, 33, 0.5);
	&-1:before
		content '1'
	&-2:before
		content '2'
	&-3:before
		content '3'
	&-4:before
		content '4'
	&-5:before
		content '5'
	&-6:before
		content '6'
	&-7:before
		content '7'
	&-8:before
		content '8'
	&-text
		color:  #fbf1f9