#author
	padding 50px 0 70px
	background-color: myDarkGreen
	color #fbf1f9
.col-anna
	position relative
#anna
	position: absolute
	width 321px
	height 322px
	background-image url(../img/images/anna.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	top -90px
	left 0
.author-title
	font-family: RO
	font-size: 20px
	margin-bottom: 30px
	margin-left: 70px
.author-list
	margin-left: 70px
	li
		list-style: none
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
.general-title-revs
	margin-top: 70px
#text-revs
	.carousel-inner
		.revs-img
			height 312px
			object-fit: contain
			object-position: center
			background-color #fff
.carousel
	width 100%
	max-width 860px
	margin 0 auto
.carousel-control
	height 49px
	width 49px
	opacity 1
	text-shadow: none
	background-color: transparent
	border-radius: 50px
	border: 3px solid
	color: #fff
	font-family: AVB
	line-height: 42px
	top auto
	bottom: -10px
	&:focus
		color: #fff
	&:hover
		color: #fff
		opacity .8
.carousel-control.left
	background-image none
.carousel-control.right
	background-image none
.carousel-indicators
	position: static
	margin 20px auto 0