#author
	padding 50px 0
	background-color: myDarkGreen
	color #fbf1f9
.col-anna
	position relative
#anna
	position: absolute
	width 321px
	height 322px
	background-image url(../img/images/anna.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	top -90px
	left 0
.author-title
	font-family: RO
	font-size: 20px
	margin-bottom: 30px
	margin-left: 70px
.author-list
	margin-left: 70px
	li
		list-style: none
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0