#last
	padding 50px 0
	text-align: center
.last-text
.last-subtitle
	color: #202c23
.last-subtitle
	font-family: RO
	margin 35px 0
.last-container
	width 100%
	background-image url(../img/backgrounds/last_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding 70px
	border-radius: 15px
	border 2px solid myDarkGreen
	&-title
		border 2px dotted rgb(239, 239, 239);
		border-radius: 15px;
		font-size: 30px;
		color: rgb(248, 248, 248);
		padding 20px
		margin-bottom: 50px
.form-last
	width 100%
	max-width 700px
	margin 0 auto
.input-mail-last
	float left
	max-width 330px
	margin-bottom: 0
.button-form-last
	float right
	max-width 330px
.checking-last
	max-width 465px
	color #F8F8F8
	& .check-label
		line-height: 31px
		a
			color #F8F8F8
			&:hover
				color: #F8F8F8