section#main
	.container
		p.pre Авторский курс
		h1.main-title Травоведение
		h2.main-subtitle.hide Узнай секреты наших предков. Научись применять Травы
		p.main-info Автор: 
			span Анна Скуцкая
		br
		p.main-info Старт: 
			span №№ сентября
		+bl('button-main','#prices','Записаться')