section#get
	.container
		h3.general-title
			span.span-main
			| Что Вы получите в результате прохождения курса:
		+list('get-list','Сможете легко подобрать для себя необходимые травы для решения волнующей Вас ситуации (поставить защиту на себя, детей и близких, решить проблемы с деньгами и наладить свое физическое здоровье и личную жизнь)','Научитесь применять и использовать с помощью несложных ритуалов травы для себя и клиентов','Станете специалистом более широкого профиля в сфере эзотерики или сможет обрести для себя новый дополнительный источник дохода в виде консультирования клиентов')