mixin lesson(h4,h5,...items)
	.lesson
		h4.lesson-title= h4
		h5.lesson-subtitle= h5
		+list('lesson-list',...items)

section#plan
	.container
		h3.general-title.general-title-light
			span.span-main
			| Структура курса:
		h4.plan-subtitle Ритуалы с помощью трав
		.structure-container
			ul.strucrure-parts
				li Уроки
				li Серебро
				li Золото
			.structure
				.structure-item
					.lessons-container
						ul.lesson-days
							li Урок 1
							li Урок 2
							li Урок 3
							li Урок 4
							li Урок 5
							li Урок 6
						.lessons
							+lesson('Урок 1','Денежные травы','- привлекают и увеличивают приход денег','- прекращают утечку и постоянные траты денег (дают стабильность в деньгах)','- травы для привлечения клиентов','- травы на удачное открытие нового дела','- травы для удачной продажи недвижимости','- травы для удачной покупки желаемой недвижимости')
							+lesson('Урок 2','Любовные травы','- налаживают и создают гармонию уже в имеющихся отношениях','- привлекают любовь в жизнь','- помогают избавиться от неразделенной любви, залечить предательство, ложь, боль и разочарование в любви')
							+lesson('Урок 3','Очищающие травы','- помогают избавиться от комплексов и навязчивых мыслей','- помогают очистить дом, офис от негативной и тяжелой накопившейся энергетики','- помогают очистить энергетику человека от сглазов, негативных влияний других людей','- помогают избежать возможных трудностей, задержек с реализацией новых начинаний и удачного старта нового проекта','- помогают убрать задержки и трудности с получением нужных документов','- помогают наладить и нормализовать вес в теле (похудеть)')
							+lesson('Урок 4','Травы приносящие удачу и везение','- помогают провести удачно нужные и важные переговоры','- помогают удачно сдать экзамен или пройти собеседование','- помогают удачно открыть новое дело','- помогают привлекать в жизнь стечение счастливых и удачных обстоятельств для наилучшего разворота событий в жизни','- помогают легко решить патовые ситуации, застойные и долго тянущиеся дела')
							+lesson('Урок 5','Антистрессовые, успокаивающие травы','- помогают гармонизировать эмоциональный фон. укрепляют центральную и периферическую нервную систему','- помогают выйти из депрессивных состояний','- помогают находится в состоянии гармонии с самим собой и с окружающим социумом','- помогают снять воспаление защемленных нервных окончаний','- создают в доме и офисе состояние гармонии, спокойствия, тепла и уюта')
							+lesson('Урок 6','Защитные и обереговые травы','- защищают человека от негативных, неприятных и опасных ситуаций в жизни','- дают защиту в дальнем путешествии, поездках, командировках','- защищают и оберегают дом, офис от прихода негативно настроенных, злых и неприятных людей','- дают защиту детям от несчастных случаев и от обидчиков','- оберегают от неприятных ситуаций на работе','- дают защиту от нападков начальника, уберегают от скандалов с руководителем','- защищают имущество от краж, пожаров, затоплений','- оберегают автомобиль от угона, аварий и пожара')
				.structure-item
					h4.structure-item-title Пакет "Серебро"
					h5.structure-item-subtitle 6 онлайн-уроков
					+list('structure-item-list','- Первые шесть уроков включают в себя информацию по использованию и назначению определенных трав под каждую из сфер применения трав + ритуалы и способы их использования, с применением на выбор одной из потребностей для решения для себя или для клиента','- Обязательные отчеты и характеристика по проделанной работе в личном кабинете!','- Есть скайп чат и есть проверка домашних заданий','- Дополнительный 7-ой онлайн-урок, который построен на рубрике ответов на вопросы, накопившиеся у учеников на протяжении данного курса по нюансам использования данных знаний')
				.structure-item
					h4.structure-item-title Пакет "Золото"
					h5.structure-item-subtitle 6 уроков пакета СЕРЕБРО + 6 уроков с ответами на вопросы + 1 личная консультация + 1 бонусный урок
					+list('structure-item-list','- Первые шесть уроков включают в себя информацию по использованию и назначению определенных трав под каждую из сфер применения трав + ритуалы и способы их использования, с применением на выбор одной из потребностей для ее решения для себя или для клиента','- Обязательные отчеты и характеристика по проделанной работе в личном кабинете!','- Есть скайп чат и есть проверка домашних заданий','- Личное ведение учеников (после каждого онлайн урока будет проводиться дополнительный онлайн-урок с корректировками и ответами на вопросы + одна личная консультация с проработкой личных запросов)','- Дополнительный бонусный онлайн-урок по теме как считывать информацию будущих событий с помощью собственного тела')
		+bl('','#prices','Записаться')