section#last
	.container
		.last-container
			h3.general-title.general-title-light
				span.span-main
				| Достигай большего 
				span.span-green ежедневно!
			p.last-text Более 10 000 учеников доверяют нам и реализуют свои цели
			h5.last-subtitle Регистрируйтесь прямо сейчас!
			+bl('','#prices','Записаться')