footer
	.container
		h5 Хотите узнать больше? Вступайте в наши группы!
		.soc-buttons
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href= oferta) Условия возврата денежных средств
.modal.fade(tabindex="-1" role="dialog")#lessons
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					h4.modal-title 6 онлайн-уроков
					h5.modal-subtitle 
						span Урок 1 
						| - Денежные травы
					ul.modal-list
						li - привлекают и увеличивают приход денег
						li - прекращают утечку и постоянные траты денег (дают в деньгах)
						li - травы для привлечения клиентов
						li - травы на удачное открытие нового дела
						li - травы для удачной продажи недвижимости
						li - травы для удачной покупки желаемой недвижимости
					h5.modal-subtitle 
						span Урок 2 
						| - Любовные травы
					ul.modal-list
						li - налаживают и создают гармонию уже в имеющихся отношениях
						li - привлекают любовь в жизнь
						li - помогают избавиться от неразделенной любви, залечить предательство, ложь, боль и разочарование в любви
					h5.modal-subtitle 
						span Урок 3 
						| - Очищающие травы
					ul.modal-list
						li - помогают избавиться от комплексов и навязчивых мыслей
						li - помогают очистить дом, офис от негативной и тяжелой накопившейся энергетики
						li - помогают очистить энергетику человека от сглазов, негативных влияний других людей
						li - помогают избежать возможных трудностей, задержек с реализацией новых начинаний и удачного старта нового проекта
						li - помогают убрать задержки и трудности с получением нужных документов
						li - помогают наладить и нормализовать вес в теле (похудеть)
					h5.modal-subtitle 
						span Урок 4 
						| - Очищающие травы
					ul.modal-list
						li - помогают провести удачно нужные и важные переговоры
						li - помогают удачно сдать экзамен или пройти собеседование
						li - помогают удачно открыть новое дело
						li - помогают привлекать в жизнь стечение счастливых и удачных обстоятельств для наилучшего разворота событий в жизни
						li - помогают легко решить патовые ситуации, застойные и долго тянущиеся дела
					h5.modal-subtitle 
						span Урок 5 
						| - Антистрессовые, успокаивающие травы
					ul.modal-list
						li - помогают гармонизировать эмоциональный фон. укрепляют центральную и периферическую нервную систему
						li - помогают выйти из депрессивных состояний
						li - помогают находится в состоянии гармонии с самим собой и с окружающим социумом
						li - помогают снять воспаление защемленных нервных окончаний
						li - создают в доме и офисе состояние гармонии, спокойствия, тепла и уюта
					h5.modal-subtitle 
						span Урок 6 
						| - Антистрессовые, успокаивающие травы
					ul.modal-list
						li - защищают человека от негативных, неприятных и опасных ситуаций в жизни
						li - дают защиту в дальнем путешествии, поездках, командировках
						li - защищают и оберегают дом, офис от прихода негативно настроенных, злых и неприятных людей
						li - дают защиту детям от несчастных случаев и от обидчиков
						li - оберегают от неприятных ситуаций на работе
						li - дают защиту от нападков начальника, уберегают от скандалов с руководителем
						li - защищают имущество от краж, пожаров, затоплений
						li - оберегают автомобиль от угона, аварий и пожара