section#main
	.container
		p.pre= head_description
		h1.main-title= head_title
		p.main-info Старт онлайн-мастер-класса: 
			span с 27 января, в 19:00 (МСК)
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=1&mute=1" allowfullscreen)