@media screen and (min-width 2256px)
	.container
		width 1400px
	#main
		padding 100px 0 50px
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		float: none
		text-align: center
	.contact
		display: inline-block
		margin 5px 5px 0
		line-height: 17px
	.inputrow
		float: none
		margin:0 auto 10px
	.button-form
		float: none
@media screen and (max-width 485px)
	#logo
		width 160px
		height 14px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		padding-left: 26px
	#main
		padding 10px 0 40px
	.main-title-thanks
		font-size: 22px
		margin-bottom: 20px
	.main-container
		padding 20px
	.main-container-title
		padding 20px
		margin-bottom: 30px
		font-size: 22px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.thanks-text
		font-size: 24px
		margin-bottom: 25px
	#main br
		display: none
	.bots-link
		width 50%
	.checking .check-label
		line-height: 18px
@media screen and (max-width 385px)
	body
		font-size: 18px
	header
	footer
		padding 10px 0
	.main-title-thanks
		font-size: 20px
	.main-container
		padding 15px
	.main-container-title
		padding 15px 0
		font-size: 18px
	.switch-date
		font-size: 22px
	.thanks-text
		font-size: 20px