.bots
	a.bots-link.bots-link-vk(href="https://bot.mastervision.su/bot/public/link?t=a&i=60&s=vk", target="_blank") Вконтакте
	a.bots-link.bots-link-tg(href="https://bot.mastervision.su/bot/public/link?t=a&i=60&s=tg", target="_blank") Telegram
	a.bots-link.bots-link-wa.hide(href="https://api.whatsapp.com/send?phone=79150797851&text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C", target="_blank") WhatsApp
	a.bots-link.bots-link-ok(href="https://bot.mastervision.su/bot/public/link?s=ok", target="_blank") Одноклассники