.general-title
.main-title
.main-subtitle
.main-info span
.strucrure-parts li
.lesson-days li
.structure-item-title
.lesson-title
.structure-item-subtitle
.lesson-subtitle
.packet-head-title
.cost span
.prepaymant-title
.timer-title
.author-title
.last-subtitle
footer h5
.modal-title
.modal-subtitle
	font-weight: 900
.packet-body
	min-height 420px