.general-title
.main-title
.main-info span
footer h5
.politics_modal-content .modal-title
.main-container-title
.thanks-text
.switch-date
	font-weight: 900
.general-title .span-main::before
	top -6px
.checking
	max-width 600px
.checking .check-label
	line-height: 40px
.input-mail
	padding 14px 10px