.general-title
.main-title
.main-subtitle
.main-info span
.variant-title
.variant-subtitle
.variant-text span
.for-item:before
.author-title
.last-subtitle
.politics_modal-content .modal-title
	font-weight: 900
.checking-last
	max-width 600px
.checking-last .check-label
	line-height: 40px
#text-revs .carousel-inner .revs-img
	height auto